body {
  margin: 0;
  background-color: black;
  height:100%;
  width: 100%;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

a {
  text-decoration: none;
  color: #CB8;
}

.link {
  display: block;
}

.logo-container {
  width: 100%;
  max-width: 432px;
}

.logo {
  width: 100%;
  height: auto;
}

#background {
  background: linear-gradient(rgba(0, 0, 0, .25), rgba(0, 0, 0.75)), url('../images/Background.png');
  background-position: center center;
  background-size: cover;
  background-repeat: repeat;
  background-color:#000000;
  background-attachment: fixed;
  width: calc(100% - 40px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#items {
  margin-top: 40px;
}

.width-group {
  width: 100%;
  max-width: 600px;
}

.sans-font {
  font-family: sans-serif;
  line-height: 1.25;
  color: #CCC;
}

#roadmap-label {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 20px;
}

#roadmap-title {
  font-weight: bold;
  font-size: 42px;
  
  text-align: center;
}

#subtitle {
  font-size: 12px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

#Timer {
  font-size: 22px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  text-align: center;
}

#cta-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#social-buttons {
  flex-basis: 51%;
  display: flex;
  justify-content: space-between;
}

.cta-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.cta-logo {
  flex-basis: 32px;
  width: 32px;
  height: 32px;
  margin: 10px;
  margin-right: 0px;
  margin-left: 10px;
}

.cta-label {
  margin-top: auto;
  margin-bottom: auto;
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #EEE;
}

.nav-label {
  word-wrap: break-word;
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: rgb(207, 207, 207);
}

#play-button {
  flex-basis: 47%;
  background: #224422;
  border: 1px solid #448844;
}

#play-button:hover {
  border: 1px solid #55aa55;
}

#play-button:hover div {
  color: #CCFFCC;
}

#discord-button {
  flex-basis: 48%;
  background: #2a3044;
  border: 1px solid #446688;
}

#discord-button:hover {
  border: 1px solid #6688aa;
}

#discord-button:hover div {
  color: #CCDDFF;
}

#youtube-button {
  flex-basis: 48%;
  background: #167dbd59;
  border: 1px solid #167dbda1;
}

#youtube-button:hover {
  border: 1px solid #198acfb2;
}

#youtube-button:hover div {
  color: #ccfcff;
}

#character-button {
  flex-basis: 48%;
  margin-top: 30;
  padding: 5;
  margin-left: 29%;
  width: 40%;
  background: #535c3f75;
  border: 1px solid #556931;
}

.nav-group {
  align-items: center;
  margin-top: 5%;
  height: 20%;
  width: 100%;
  max-width: 600px;
}


.timeframe-label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  color: #CC6;
}

.timeframefeature-label {
  font-weight: bold;
  font-size: 18px;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
  color: rgb(243, 222, 182);
}

.roadmap-item {
  background-color: rgba(255,255,255,0.1);
  border: 1px solid rgba(255,255,255,0.2);
  padding: 10px;
  margin-bottom: 10px;
  position:relative;
  transition: 100ms linear;
}

.roadmap-item:hover {
  transform: scale(1.02);
  transition: 80ms linear;
}

.delayed {
  background-color: rgba(219, 17, 17, 0.1);
  border: 1px solid rgba(255,127,0,0.2);
}

.color-delayed {
  color: rgb(160,120,80);
}

.deployed {
  background-color: rgba(0,255,0,0.1);
  border: 1px solid rgba(0,255,0,0.2);
}

.fixed {
  background-color: rgba(0,255,0,0.1);
  border: 1px solid rgba(0,255,0,0.2);
}

.color-fixed {
  color: rgb(80,160,80);
}

.color-deployed {
  color: rgb(80,160,80);
}

.completed {
  background-color: rgba(0,127,255,0.1);
  border: 1px solid rgba(0,127,255,0.2);
}

.polishing {
  background-color: rgba(133, 44, 160, 0.315);
  border: 1px solid rgba(241, 85, 255, 0.2);
}

.color-polishing {
  color: rgb(204, 115, 177);
}

.color-completed {
  color: rgb(80,120,160);
}

.in-progress {
  background-color: rgba(255,255,0,0.1);
  border: 1px solid rgba(255,255,0,0.2);
}

.color-in-progress {
  color: rgb(160,160,80);
}

.next {
  background-color: rgba(0,255,255,0.1);
  border: 1px solid rgba(0,255,255,0.2);
}

.color-next {
  color: rgb(80,160,160);
}

.item-title-row {
  display: flex;
  justify-content: space-between;
}

.item-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}

.item-description {
  font-size: 16px
}

#item-template {
  display: none;
}

.item-category {
  margin-bottom: 30px;
}

@media screen and (max-width: 640px) {
  #cta-buttons {
    flex-direction: column;
    margin-bottom: 60px;
  }
  #social-buttons {
    flex-basis: 100%;
  }
  #play-button {
    flex-basis: 100%;
    margin-bottom: 12px;
  }
}



#details-box{
  font-size: 15px;
  position: absolute;
  left: 5%;
  top:60%;
  width: 90%;
  height: 40%;
}

.center {
  line-height: 20px;
  height: 150px;
  text-align: center;
  }

#text{
  position: absolute;
  font-size: 20px;
  color: white;
  box-sizing: border-box;
  position: relative;
}

#overlay-background{
  display:none;
  position: fixed;
  background-color: #000000ea;
  z-index: 2;
  top:0px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
#overlay {
  height:100%;
  width: 100%;
  margin: 0 auto !important;
}

#feature-item {
  margin-bottom: 30px;
}